@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
/* music - 1 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content-suara {
  padding: 0;
}

.preset-music {
  margin: 10px;
}

.music {
  display: flex;
  align-items: center;
  width: 100%;
}

.music > button {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
}

.music > button img {
  height: 70px;
  border-radius: 5px;
}

#icon-play-1,
#icon-play-2,
#icon-play-3,
#icon-play-4 {
  position: absolute;
  height: 20px;
  left: 28px;
}

#icon-pause-1,
#icon-pause-2,
#icon-pause-3,
#icon-pause-4 {
  position: absolute;
  height: 30px;
  left: 23px;
  display: none;
}

.info-music {
  margin-left: 10px;
  text-align: left;
  width: calc(250px - 0px); /* Misalnya, atur lebar maksimal untuk info-music */
  white-space: nowrap; /* Hindari pemisahan kata */
  overflow: hidden; /* Sembunyikan overflow */
  text-overflow: ellipsis; /* Tambahkan elipsis untuk menandakan bahwa teks terpotong */
}

.info-music #nama-music {
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap; /* Hindari pemisahan kata */
  overflow: hidden; /* Sembunyikan overflow */
  text-overflow: ellipsis; /* Tambahkan elipsis untuk menandakan bahwa teks terpotong */
}

.info-music #pencipta-music-3 {
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  opacity: 0.5;
  white-space: nowrap; /* Hindari pemisahan kata */
  overflow: hidden; /* Sembunyikan overflow */
  text-overflow: ellipsis; /* Tambahkan elipsis untuk menandakan bahwa teks terpotong */
}

.info-music #pencipta-music-4 {
  font-size: 13px;
  opacity: 0.5;
  white-space: nowrap; /* Hindari pemisahan kata */
  overflow: hidden; /* Sembunyikan overflow */
  text-overflow: ellipsis; /* Tambahkan elipsis untuk menandakan bahwa teks terpotong */
}

.info-music #pencipta-music {
  font-size: 13px;
  font-weight: bold;
  opacity: 0.5;
  font-family: "DM Serif Display", serif;
  white-space: nowrap; /* Hindari pemisahan kata */
  overflow: hidden; /* Sembunyikan overflow */
  text-overflow: ellipsis; /* Tambahkan elipsis untuk menandakan bahwa teks terpotong */
}

.info-music #durasi-music {
  font-size: 13px;
  opacity: 0.5;
  white-space: nowrap; /* Hindari pemisahan kata */
  overflow: hidden; /* Sembunyikan overflow */
  text-overflow: ellipsis; /* Tambahkan elipsis untuk menandakan bahwa teks terpotong */
}

.music a > img {
  height: 30px;
}

.gunakan-music-1,
.gunakan-music-2,
.gunakan-music-3,
.gunakan-music-4 {
  margin-top: 10px;
  display: none;
}

.gunakan-music-1 > button,
.gunakan-music-2 > button,
.gunakan-music-3 > button,
.gunakan-music-4 > button {
  width: 100%;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ff1554;
}

.gunakan-music-1 > button img,
.gunakan-music-2 > button img,
.gunakan-music-3 > button img,
.gunakan-music-4 > button img {
  height: 30px;
  margin-right: 5px;
}

.gunakan-music-1 > button p,
.gunakan-music-2 > button p,
.gunakan-music-3 > button p,
.gunakan-music-4 > button p {
  font-size: 15px;
  font-weight: 500;
  color: white;
}
