/* kontent postingan */
.content-postingan {
  padding: 0 20px;
  margin-top: 20px;
  text-align: center;
}

.content-postingan h2 {
  font-size: 17px;
}

.content-postingan p {
  text-align: center;
  font-size: 14px;
  color: #64748b;
}
/* end kontent postingan */
/* ----------------------------------------------------------------------------------- */
/* kontent-repost */
.pembungkus-content-repost {
  display: flex;
  flex-wrap: wrap; /* Membuat elemen turun ke bawah jika tidak muat */
  gap: 1px; /* Tambahkan jarak antar elemen jika diperlukan */
}

.pembungkus-content-repost .video-1 {
  position: relative; /* Pastikan elemen ini menjadi referensi untuk .status-video yang di dalamnya */
  flex: 1 1 calc(33.33% - 1px); /* Ukuran fleksibel, sesuaikan dengan jarak antar elemen */
  box-sizing: border-box; /* Pastikan padding dan border tidak mengubah ukuran elemen */
  max-width: calc(33.33% - 0px); /* Maksimal lebar 33.33% dengan jarak */
  margin: 0;
  padding: 0;
}

.video-1 img {
  height: 190px;
  width: 100%; /* Pastikan gambar mengisi lebar penuh elemen */
}

.status-video {
  position: absolute;
  bottom: 10px; /* Sesuaikan dengan kebutuhan */
  left: 10px; /* Sesuaikan dengan kebutuhan */
  display: flex;
  align-items: center;
  background-color: transparent;
  margin: 0; /* Menghapus margin */
}

.status-video img {
  height: 13px;
}

.status-video p {
  font-weight: 400;
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin-left: 5px; /* Tambahkan jarak antara gambar dan teks */
}

/* end kontent-repost */
/* ----------------------------------------------------------------------------------- */
/* Tersimpan */
.nav-tersimpan {
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.082);
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.nav-tersimpan.fixed {
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.1);
}

.nav-tersimpan button {
  border: none;
  background-color: transparent;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.nav-tersimpan button.active {
  opacity: 1;
}

.nav-tersimpan button p {
  font-weight: 500;
  margin-right: 20px;
}

.content-koleksi,
.content-suara {
  padding: 20px;
}
/* end Tersimpan */
