@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* header */
header {
  background-color: white; /* Tambahkan warna latar belakang */
}

.nav-header {
  text-align: center;
  padding: 10px 20px; /* Tambahkan padding untuk ruang di dalam header */
}

.back img {
  height: 25px;
  width: auto;
}

.akun {
  display: flex;
  align-items: center;
  justify-content: center;
}

.users h2 {
  font-size: 17px;
}

.nav-header > .point {
  border-radius: 100%;
  background-color: #f59e0b;
  padding: 0px 8px;
  border: 5px solid;
  border-color: #fcd34d;
}

.point p {
  font-weight: bold;
  color: white;
}

/* notif-users */
.notif-users {
  font-size: 13px;
  padding: 0 6px;
  border-radius: 100%;
  background-color: #ff1554;
  color: white;
  font-weight: 500;
}

.tayangan-profil-setting {
  display: flex;
  align-items: center;
}

.tayangan-profil-setting img {
  height: 25px;
  width: auto;
}

.tp {
  margin-right: 15px;
}
/* start profil-users */
.profil-users {
  background-color: #fcd34d;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 0 0;
}

.profil img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.add-picture img {
  height: 40px;
  border-radius: 100%;
  border: 3px solid white;
  width: auto;
  position: absolute;
  margin-top: -45px;
  margin-left: 20px;
}

/* username */
.username p {
  font-weight: 500;
}

/* following/followers/like */
.ffl {
  background-color: #f59e0b;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

#total {
  font-size: 17px;
  font-weight: bold;
}

#space {
  margin-left: 30px;
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.222);
}

#title {
  color: rgba(0, 0, 0, 0.636);
}

/* action profile */
.action-profil {
  background-color: rgb(135, 255, 235);
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.add-friend img {
  height: 17px;
  width: auto;
  transform: rotate(90deg);
}

.ikuti-profil,
.pesan-profil {
  padding: 10px 35px;
  margin: 3px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 550;
  background-color: #e4e4e7af;
}

.ikuti-profil {
  color: white;
  background-color: #ff1554;
}

.pesan-profil {
  color: black;
}

.add-friend {
  padding: 10.5px 15px;
  margin: 3px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #e4e4e7af;
  transition: transform 0.5s;
}

/* content-saran */
.content-saran-akun {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white; /* Warna latar belakang putih dengan transparansi */
  color: rgb(0, 0, 0);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
  z-index: 1001; /* Di atas overlay */
  transform: translateY(100%); /* Awalnya di luar layar ke bawah */
  transition: transform 0.3s ease-in-out; /* Animasi transisi */
}

.content-saran-akun.show {
  transform: translateY(0); /* Tampilkan dengan animasi slide ke atas */
}

#overlay-black {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Efek gelap di belakang */
  z-index: 1000; /* Di bawah konten saran */
}

#overlay-black.show {
  display: block; /* Tampilkan overlay */
}

.saran-akun {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  cursor: pointer;
}

.saran-akun img {
  height: 15px;
  margin-left: 2px;
  opacity: 0.8;
}

/* content-add-friend */
.rotated {
  transform: rotate(50deg);
}

.content-add-friend {
  height: 100%;
  width: auto;
  display: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s ease, opacity 1.5s ease;
  transition: transform 1.5s;
  background-color: #e01919d6;
}

.content-add-friend.show {
  display: block;
  opacity: 1;
  max-height: 500px; /* Adjust according to content height */
}

.title-add-friend {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  background-color: #4be019d6;
}

.title-add-friend a {
  color: rgba(0, 0, 0, 0.671);
}

.saran-akun,
.tampilkan-semua {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.pembukus-friend {
  background-color: #c5e019d6;

  margin: 0px;
  display: flex;
  overflow-x: auto; /* Tambahkan overflow-x untuk scrolling horizontal */
}

.friend-1 {
  margin: 0 10px 0 0;
  height: 100%;
  width: max-content;
  display: block;

  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #e4e4e772;
}

.friend-1 img {
  height: 135px;
  width: auto;
  border-radius: 100%;
}

.name-friend {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 500;
}

.name-friend img {
  margin-left: 3px;
  height: 16px;
}

.info-friend {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.action-friend {
  margin-top: 20px;
  font-size: 16px;
  border-radius: 10px;
  padding: 7px 10px;
  font-weight: 500;
  color: white;
  background-color: #ff1554;
}
/* end content-add-friend */

/* like */
/* Popup Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Warna gelap semi-transparan */
  z-index: 1000; /* Di atas semua elemen */
}

/* Popup Content */
.popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(226, 226, 226);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001; /* Di atas overlay */
  text-align: center;
}

.popup-content img {
  margin: 20px;
  padding: 0 70px;
  height: 140px;
  margin-bottom: 15px;
}

.popup-content #title-like {
  margin: 0 20px;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
}

.popup-content #desk-like {
  margin: 0 20px;
  font-size: 13px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}

.popup-content button {
  border: none;
  height: 100%;
  width: 100%;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 17px;
  border-top: 1px solid rgb(193, 193, 193);
  background-color: transparent;
}
/* end like */

/* postingan/repost/tersimpan */
.prt {
  background-color: #1919e0d6;

  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #00000020;
  width: 100%; /* Pastikan lebar 100% */
  box-sizing: border-box; /* Pastikan padding dan border diperhitungkan dalam ukuran elemen */
}

.prt button {
  margin: 0px 40px;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  background-color: transparent;
}

.prt button.active {
  border-radius: 1px;
  border-bottom: 4px solid black;
}

.prt img {
  height: 25px;
  width: auto;
}

.prt.fixed {
  position: fixed;
  top: -15px;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 6px 5px rgb(0, 0, 0, 0.1);
}

/* end postingan/repost/tersimpan */
